
/* .left-img{
    margin-left: 20%;
    margin-right: 20%;
} */

.content-text{
    color: white;
    padding: 2rem;
}
.content-text h2{
    font-size: 30px;
}
.content-img{
    padding: 40px;
    text-align: center;
}
.content-img img{
    border-radius: 50%;
    height: 400px;
    width: 400px;
    object-fit: cover;
    box-shadow: 0 2px 5px 0 rgba(52,47,51,.63);
}
@media(max-width: 599px){
    .content-img img{
        height: 250px;
        width: 250px;
    }
}