<mat-nav-list>
    <mat-list-item routerLink="/" (click)="onSidenavClose()">
            <mat-icon>home</mat-icon><span class="nav-caption">Calvin Gozé</span>
    </mat-list-item>
    <mat-list-item routerLink="/contact" (click)="onSidenavClose()">
            <span class="nav-caption">Contact</span>
    </mat-list-item>
    <mat-list-item routerLink="/projects" (click)="onSidenavClose()">
            <span class="nav-caption">Projects</span>
    </mat-list-item>
    <mat-list-item routerLink="/blog" (click)="onSidenavClose()">
            <span class="nav-caption">Blog</span>
    </mat-list-item>
</mat-nav-list>