#hero-text {
    text-align: center;
    font-size: large;
    
}
#hero-text > h1 {
    margin-bottom: .5!important;
    padding-top: 1.5rem;
    font-size: 3rem;
    letter-spacing: .25rem;
    text-transform: uppercase;
}
#hero-text mat-icon{
    transform: scale(2);
}
#hero-img{
    width: 100%;
    height: calc(100vh - 255px);
    background-image: url("../../../assets/imgs/home-hero.jpg");
    /*background-attachment: fixed;*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

  mat-card-actions{
      text-align: center;
  }

  .inner-padding{
      padding: 1rem;
  }

  .purple-block mat-icon{
    vertical-align: middle;
  }

@media(max-width: 599px){
    .purple-card-text{
        text-align: center;
      }
    #hero-img{
        height: calc(100vh - 248px);
    }
}
/* for really small phones*/
@media(max-width: 340px){
    #hero-text h1{
        font-size: 2rem;
    }
}