<div id="hero-img" *ngIf="!isMobile"></div>
<div id="hero-img-mobile" *ngIf="isMobile" [style.height.px]="mobileHeight"></div>
<div id="hero-text">
    <h1 [@TitleSequnce]="'name'" >Calvin Gozé</h1>
    <div fxLayout="row" fxLayoutAlign="center">
        <div fxFlex="100px" [@TitleSequnce]="'competent'">Competent.</div> <div fxFlex="100px" [@TitleSequnce]="'committed'">Committed.</div>
    </div>
    <br>
    <a [@TitleSequnce]="'arrow'" id="down-button" mat-fab color="primary" (click)="ScrollToContent()">
        <mat-icon>keyboard_arrow_down</mat-icon>
    </a>
</div>

    <div fxLayout fxLayoutAlign="center" wmAnimate="landing" speed="faster" aos>
        <div class="purple-block max-width left-img"
         fxLayout
         fxLayout.sm="column"
         fxLayout.xs="column"
         fxLayoutAlign="center"
         fxLayoutGap="10px">
        <div class="content-img" fxFlex.xs="310px" fxFlex="460px">
          <img src="https://firebasestorage.googleapis.com/v0/b/calvinwebsite-7228e.appspot.com/o/Static_Images%2Fcircle-image.jpg?alt=media&token=672e06fa-2b36-4403-a79e-c7980912cdd1" alt="Calvin Gozé working at a computer.">
        </div>
        <div fxLayout="column" class="content-text">
        <div fxFlex>
          <h2>Software Developer. Engineer.</h2>
          <div class="content-body">
          <p>Hi, my name is John Calvin Gozé (pronounced <i>go-zay</i>). I'm an engineering student and a self taught software developer.
            I have a passion for invention, science, and learning all that I can. I strive to be a blessing to those around me
            with my lighthearted personality, eagerness to help out where needed, and desire to learn from others. My interests include robotics, engineering, programming,
            and drumming.
          </p>
          <p>This website was built using the
            <a target="_blank" href="https://angular.io/">Angular 9</a> framework, and <a target="_blank" href="https://firebase.google.com/">Google Firebase</a>.
            </p>
            <p>Don't forget to check out my blog!</p>
            </div>
        </div>
            <div class="button-links" fxFlex fxFlex.xs="160px" fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="0" fxLayoutGap.gt-xs="50px" fxLayoutAlign="center center" style="padding-top: 1rem;">
                <div fxFlex="50px" fxFlex.gt-xs="133px">
                    <a target="_blank" href="../../../assets/pdfs/CalvinResume.pdf" mat-raised-button>Résumé <mat-icon>open_in_new</mat-icon></a>
                </div>
                <div fxFlex="50px" fxFlex.gt-xs="133px">
                    <a target="_blank" href="../../../assets/pdfs/jjd1k055fajasa40xb5xswhf9_31_16_PM_UnofficialTranscript.pdf" mat-raised-button>Transcript <mat-icon>open_in_new</mat-icon></a>
                </div>
                <div fxFlex="50px" fxFlex.gt-xs="133px">
                    <a routerLink="/blog" mat-raised-button>Blog</a>
                </div>
            </div>
        </div>
        </div>
    </div>

<!-- <div fxLayout="row wrap" fxLayoutAlign="center">
    <div fxFlex="320px" fxLayout="column" fxLayoutAlign="center" [ngClass]="'padding-block'" wmAnimate="fadeInRight"
        speed="fast" aos>
        <mat-card>
            <mat-card-header>
                <mat-icon>code</mat-icon>
                <mat-card-title>Skills</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p>
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                    bred for hunting.
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button color="primary" routerLink="/skills">View Skills</button>
            </mat-card-actions>
        </mat-card>
    </div>
    <div fxFlex="320px" fxLayout="column" fxLayoutAlign="center" [ngClass]="'padding-block'" wmAnimate="fadeInUp"
        speed="fast" aos>
        <mat-card>
            <mat-card-header>
                <mat-icon>art_track</mat-icon>
                <mat-card-title>Projects</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p>
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                    bred for hunting.
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button color="primary" routerLink="/projects">View Projects</button>
            </mat-card-actions>
        </mat-card>
    </div>
    <div fxFlex="320px" fxLayout="column" fxLayoutAlign="center" [ngClass]="'padding-block'" wmAnimate="fadeInLeft"
        speed="fast" aos>
        <mat-card>
            <mat-card-header>
                <mat-icon>library_books</mat-icon>
                <mat-card-title>Blog</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p>
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                    bred for hunting.
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button color="primary" routerLink="/blog">View Blog</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div> -->

<!--<div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="center">
    <div class="purple-block" fxFlex fxFlex.gt-md="500px" wmAnimate="landing" speed="faster" aos>
        <div class="inner-padding" fxLayout="row" fxLayout.xs="column">
            <div class="purple-card-text" fxFlex>
                <h2>
                    <mat-icon>school</mat-icon> Education
                </h2>
                <h3>Colleg of the Ozarks</h3>
                <small>2017 - 2021, 3.85 GPA</small>
                <p><strong>Major:</strong> Engineering<br>
                    <strong>Minor:</strong> Mathematics</p>
            </div>
            <div fxFlex fxLayoutAlign="center center">
                <a target="_blank" href="../../../assets/pdfs/jjd1k055fajasa40xb5xswhf9_31_16_PM_UnofficialTranscript.pdf" mat-raised-button>View Unofficial Transcript</a>
            </div>
        </div>
    </div>
    <div class="purple-block" fxFlex fxFlex.gt-md="500px" wmAnimate="landing" speed="faster" aos>
        <div class="inner-padding" fxLayout="row" fxLayout.xs="column">
            <div fxFlex class="purple-card-text">
                <h2>
                    <mat-icon>work</mat-icon> Current Position
                </h2>
                <h3>Colleg of the Ozarks<br>Web Development Office</h3>
                <small>2019 - Present</small>
            </div>
            <div fxFlex fxLayoutAlign="center center">
                <a target="_blank" href="../../../assets/pdfs/CalvinResume.pdf" mat-raised-button>View Résumé</a>
            </div>
        </div>
    </div>
</div>-->

<div style="padding-top: 2rem; text-align: center;">
    <h2 ngClass="hero-text" wmAnimate="zoomIn" speed="fast" aos>Skills</h2>
</div>

<div class="skill-section" wmAnimate="zoomIn" speed="fast" aos>
    <h3>Technologies / Frameworks</h3>
    <div fxLayout="row" fxLayoutAlign="center">
        <mat-divider></mat-divider>
    </div>
</div>

<div fxLayout="row" fxLayoutAlign="center">
<div fxLayout="row wrap" ngClass="skill-inner-wrapper">
<div class="padding-block" *ngFor="let skill of techSkills" wmAnimate="landing" speed="fast" aos>
    <mat-card ngClass="skill-card">
        <mat-card-header>
            <mat-card-title><h2>{{skill.name}}</h2></mat-card-title>
        </mat-card-header>
        <div class="card-img">
        <img  mat-card-md-image src="{{skill.logoUrl}}" alt="{{skill.name}} logo">
        </div>
        <mat-card-content class="card-button">
            <a mat-button *ngIf="skill.blog" routerLink="/blog" [queryParams]="{search: skill.blog}">View {{skill.name}}
                Blogs</a>
        </mat-card-content>
    </mat-card>
</div>
</div>
</div>

<div class="skill-section" wmAnimate="zoomIn" speed="fast" aos>
    <h3>Languages</h3>
    <div fxLayout="row" fxLayoutAlign="center">
        <mat-divider></mat-divider>
    </div>
</div>

<div fxLayout="row" fxLayoutAlign="center">
<div fxLayout="row wrap" ngClass="skill-inner-wrapper">
<div class="padding-block" *ngFor="let skill of langSkills" wmAnimate="landing" speed="fast" aos>
    <mat-card ngClass="skill-card">
        <mat-card-header>
            <mat-card-title><h2>{{skill.name}}</h2></mat-card-title>
        </mat-card-header>
        <div class="card-img">
        <img  mat-card-md-image src="{{skill.logoUrl}}" alt="{{skill.name}} logo">
        </div>
        <mat-card-content class="card-button">
            <a mat-button *ngIf="skill.blog" routerLink="/blog" [queryParams]="{search: skill.blog}">View {{skill.name}}
                Blogs</a>
        </mat-card-content>
    </mat-card>
</div>
</div>
</div>
